<div class="containner">
  <ul class="nav">
    <li>
      <a class="nav-link" [routerLink] = "'../register'">Register</a>
    </li>
    <li>
      <a class="nav-link" [routerLink] = "'../login'">Login</a>
    </li>
  </ul>
  <ul class="nav">
    <li>
      <a class="nav-link" [routerLink] = "'../home'">Home</a>
    </li>
    <li>
      <a class="nav-link" [routerLink] = "'../address'">Address</a>
    </li>
    <li>
      <a class="nav-link" [routerLink] = "'../cart'">Cart</a>
    </li>
    <li>
      <a class="nav-link" [routerLink] = "'../'">Logout</a>
    </li>
  </ul>
</div>
