.containner {
  margin: auto 10px 30px 10px;
  display: flex;
  justify-content: space-between;
}
.box-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.item {
  border: 1px solid ;
  border-color: orchid;
  width: 240px;
  padding-left: 10px;
  margin-top: 20px;
}
.item h5 {
  font-size: 18px;
}
.img-product {
  width: 200px;
  height: 150px;
}
.btn-add {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color:rgb(138, 124, 233);
  color: #FFFFFF;
}

.btn-add:hover {
  cursor: pointer;
  opacity: 0.7;
}
